@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes borderWidth {
    from {
        width: 0;
    }
    to {
        width: 70%;
    }
}

.fadeIn {
    animation: fadeIn;
}