// fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

// variables
@import './variables';
@import './animation';

// components
@import './components/navbar';
@import './components/header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
    font-size: 18px;
    height: 400vh;
}