#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    background-image: $background-linear;
    border-radius: 0 0 40% 40%;

    @media(max-width:600px) {
        border-radius: 0 0 0% 0%;
        height: 390px;
    }

    .header-content {
        padding: 0 3%;

        .header-title {
            color: white;
            font-weight: 400;
            font-size: 3em;

            @media(max-width:600px) {
                font-size: 1.8em;
            }

            &::after {
                content: '';
                display: block;
                border: 2px solid white;
                border-radius: 10px;
                width: 30%;
                margin: .5rem auto;
            }
        }

        .header-form {
            margin-top: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;

            .header-form-input {
                outline: none;
                border: none;
                border-radius: 5px 0 0 5px;
                width: 80%;
                padding: .8rem;
                font-weight: 600;
                color: rgb(75, 75, 75);
                font-size: 1em;
                text-transform: capitalize;

                @media(max-width:600px) {
                    font-size: .7em;
                }
            }

            .header-form-submit {
                font-size: 1em;
                padding: .8rem 1rem;
                outline: none;
                border: none;
                border-radius: 0 5px 5px 0;
                cursor: pointer;
                background-color: $orange;
                color: white;

                @media(max-width:600px) {
                    font-size: .7em;
                }
            }
        }
    }
}