@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeIn {
  animation: fadeIn; }

.navbar,
.navbar .nav-menu,
.nav-button {
  display: flex;
  align-items: center; }

.navbar {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: linear-gradient(to right, #2691b3, #26a4cb);
  padding: 1rem 3%; }
  @media (max-width: 900px) {
    .navbar {
      padding: 1rem 5%; } }
  .navbar a {
    text-decoration: none;
    color: white; }
  .navbar .nav-brand .nav-brand-logo {
    font-size: 2em;
    font-weight: 600;
    color: white; }
    @media (max-width: 900px) {
      .navbar .nav-brand .nav-brand-logo {
        font-size: 1.8em; } }
  .navbar .nav-menu {
    width: 65%;
    font-size: 1em;
    font-weight: 400;
    justify-content: space-between;
    transition: all .5s ease; }
    @media (max-width: 900px) {
      .navbar .nav-menu {
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to right, #2691b3, #26a4cb);
        width: 0;
        height: 100vh;
        max-height: 100vh;
        overflow: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 4.3rem;
        padding: 1rem 0;
        opacity: .9; } }
    @media (max-width: 900px) {
      .navbar .nav-menu .nav-menu-item {
        width: 100%; } }
    @media (max-width: 900px) {
      .navbar .nav-menu .nav-menu-item a {
        padding: 1rem .5rem;
        display: block;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); } }
    .navbar .nav-menu .nav-button {
      margin-left: 15%;
      justify-content: flex-end;
      animation-duration: .3s;
      animation-delay: .6s;
      animation-fill-mode: backwards; }
      @media (max-width: 1024px) {
        .navbar .nav-menu .nav-button {
          margin-left: 3%; } }
      @media (max-width: 900px) {
        .navbar .nav-menu .nav-button {
          margin-top: 1.5rem;
          margin-left: inherit; } }
      .navbar .nav-menu .nav-button .nav-button-item {
        outline: none;
        padding: .7rem 3rem;
        background-color: transparent;
        border-radius: 30px;
        border: 2px solid white;
        font-size: .8em;
        color: white;
        cursor: pointer;
        transition: all .2s; }
        .navbar .nav-menu .nav-button .nav-button-item:hover {
          background-color: white;
          color: #26a4cb;
          transform: scale(0.9); }
  .navbar .nav-menu-open {
    opacity: 1;
    width: 100%;
    padding: inherit; }
  .navbar .nav-toggler {
    width: 30px;
    height: 20px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-between; }
    @media (max-width: 900px) {
      .navbar .nav-toggler {
        display: flex; } }
    .navbar .nav-toggler .line {
      width: 100%;
      height: 2px;
      display: block;
      background-color: white;
      border-radius: 10px;
      transition: all .5s ease; }
      .navbar .nav-toggler .line:nth-child(1) {
        transform-origin: left; }
      .navbar .nav-toggler .line:nth-child(2) {
        opacity: 1; }
      .navbar .nav-toggler .line:nth-child(3) {
        transform-origin: left; }
  .navbar .nav-toggler-open .line:nth-child(1) {
    transform: rotate(45deg) translateY(-2px); }
  .navbar .nav-toggler-open .line:nth-child(2) {
    opacity: 0; }
  .navbar .nav-toggler-open .line:nth-child(3) {
    transform: rotate(-45deg) translateY(2px); }

#header {
  height: 480px;
  background-color: red;
  padding-top: 5rem; }
  #header .header-content {
    padding: 0 3%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px; }

/*# sourceMappingURL=style.css.map */
